@import "./reset.css";
@import "./header.css";
@import "./body.css";
@import "./type-writer.css";
@import "./social-media.css";
@import "./footer.css";
@import "./skill.css";
@import "./loading-animation.css";
@import "./form.css";
@import "./project.css";
@import "./media-screen.css";

body,html {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: rgb(19, 32, 42);
    color: whitesmoke;
    scroll-behavior:smooth;
}

.loading-animation{
    z-index: -1;
    filter: blur(0px);
}

.body-image {
    height: 300px;
    border-width: 0px 2px;
    border-style: solid;
    border-color: orange;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../static/images/w.jpg);
}
.body-text {
    border-width: 0px 2px;
    border-style: solid;
    border-color: orange;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Poppins", sans-serif;
}

p{
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.color-orange {
    color: orange;
    font-size: 1.6em;
}

strong span{
    font-size: 1.1em;
}

.container-boarder {
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.border-color-orange {
    border-color: orange;
}