.background-img {
    background-image: url("../static/images/39631.jpg");
    /* Add the opacity */
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.50);
    /* Full height */
    height: 100vh; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    margin: 0px auto;
    padding: 20px;
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    width: 30%;
    float: left;
    text-align: center;
}

#profilePhoto{
    margin: 20px 0px 10px;
    width: 80%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    animation: zoomIn 2s ease forwards; 
}

@keyframes zoomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.content-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
    padding: 5px;
    height: auto;
}

.sub-content{
    width: 100%;
    float: left;
    padding: 10px;
    margin: 10px;
}

.certificate-list {
    padding-left: 15px;
}

hr.hidden {
    visibility: hidden;
    height: 25px;
}

.content-li {
    padding-left: 15px;
}

.information {
    text-align: start;
    margin: 15px auto;
}

#top-arrow {
    color: white;
    margin: 0px 20px 20px 0px;
    animation: up-to-down 2s ease infinite;
}

@keyframes up-to-down {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
  }