.background-img {
    background-image: url("../static/images/39631.jpg");
    /* Add the opacity */
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.50);
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    border: 2px solid #ccc;
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    float: left;
    padding: 5px;

    border: 1px solid #ccc;
    height: 99%;

    text-align: center;
}

#profilePhoto{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    
}

.content-container {
    width: 65%;
    float: right;
    padding: 5px;
    border: 1px solid #ccc;
}

.sub-content{
    width: 100%;
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
}

.certificate-list {
    padding-left: 15px;
}


hr.hidden {
    visibility: hidden;
    height: 25px;
}

