.background-img {
    background-image: url("../static/images/39631.jpg");
    /* Add the opacity */
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.50);
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#more-info {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0.5%;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 30px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 2% auto;
    padding: 20px;
    /* background: #fff; */
    border: 2px solid #ccc;
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    float: left;
    padding: 20px;
    /* background: #fff; */
    border: 1px solid #ccc;
    height: 99%;
}

#profilePhoto{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    
}

.content-container {
    width: 65%;
    float: right;
    padding: 20px;
    /* background: #fff; */
    border: 1px solid #ccc;
}

.sub-content{
    width: 100%;
    float: left;
    padding: 20px;
    /* background: #fff; */
    border: 1px solid #ccc;
}