.background-img {
    background-image: url("../static/images/39631.jpg");
    /* Add the opacity */
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.50);
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    margin: 0px auto;
    padding: 20px;

    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    float: left;
    /* border: 1px solid #ccc; */
    text-align: center;
}

#profilePhoto{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    
}

.content-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
    padding: 5px;
    height: auto;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

}

.sub-content{
    width: 100%;
    float: left;
    padding: 10px;
    margin: 10px;
    /* border: 1px solid #ccc; */
}

.certificate-list {
    padding-left: 15px;
}


hr.hidden {
    visibility: hidden;
    height: 25px;
}

.content-li {
    padding-left: 15px;
}