footer {
    background-color: #000;
}

#social-media-container {
    display: flex;
    border-width: 0px 2px 2px;
    border-style: solid;
    border-color: orange;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}