/* !navbar */
.navbar {
  overflow: hidden;
  padding: 20px 10px;
}

.navbar a {
  float: left;
  color: orange;
  text-align: center;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  position: relative;
}

.navbar .sub-link {
  opacity: 0;
  animation: slideTop .8s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a.logo {
  font-size: 25px;
  font-weight: bold;
  opacity: 0;
  animation: slideTop 1.2s ease forwards;
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar a::after {
  content: '';
  width: 0;
  height: 3px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.5s;
}

.navbar a:hover::after {
  width: 100%;
  transition: 0.5s;
}

.navbar-right {
  float: right;
}

.icon {
  display: none;
}

/* !navbar-end */


/*! home */
.home {
  /* position: relative; */
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin-bottom: 15%;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideRight 1.2s ease forwards;
}

.home-content h3 span {
  color: orange;
}

.home-content h1 {
  font-size: 52px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.home-content p {
  font-size: 16px;
  margin-bottom: 16px;
  opacity: 0;
  animation: slideRight 1.4s ease forwards;
}

.download-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: orange;
  border-radius: 50px;
  box-shadow: 0 0 10px orange;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  opacity: 0;
  animation: slideRight 1.6s ease forwards;
}

/* Keyframes animation */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#more-info {
  width: 100%;
  text-align: center;
  color: white;
  font-size: normal;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  opacity: 0;
  animation: slideBottom 1.2s ease forwards;
}

.up-down-animation {
  animation-name: up-down-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes up-down-animation {
  0% {
    bottom: 0px;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0px;
  }
}

/*! home */

@media screen and (max-width: 700px) {
  #more-info {
    font-size: small;
    bottom: 0px
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .navbar-bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar a {
    float: none;
    display: block;
    text-align: left;
    padding: 5px;
    margin: 2px;

  }

  .icon {
    opacity: 0;
    animation: slideTop 1.2s ease forwards;
  }

  .navbar-right {
    float: none;
  }


  /* ! home */
  .home-content h3 {
    font-size: 1.3em;
  }

  .home-content h1 {
    font-size: 1.9em;
    font-weight: 700;
  }

  .home-content p {
    font-size: 0.5em;
  }

  .download-btn {
    font-size: 0.5em;
    padding: 8px 16px;
    color: white;
  }


  /* ! topnav */

  .topnav a {
    display: none;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}