@media screen and (max-width: 1000px) {
    h1 {
        font-size: 20px;
    }
    h2 {
       font-size: 17px;
    }
    h3 {
        font-size: 15px;
    }
    h4 {
        font-size: 13px;
    }
    h5 {
        font-size: 11px;
    }
    p {
        font-size: 9px;
    }
    a {
        font-size: 11px;
    }
    li {
        font-size: 11px;
    }
}

@media screen and (max-width: 600px) {
    #social-media-container ul {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 30px;
    }
}

