@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

a {
    text-decoration: none;
}

#social-media-container ul {
    position: relative;
    display: flex;
    padding: 0;
    margin: 50px;
}

#social-media-container ul div {
    width: 40px;
    height: 5px;
    background-color: orange;
    margin: auto;
}

#social-media-container ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    margin: 10px 20px;
}

#social-media-container ul li span {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

#social-media-container ul li:hover span {
    transition: .3s;
}

#social-media-container ul li:nth-child(2):hover span{
    background: #1167b1 !important;
}

#social-media-container ul li:nth-child(3):hover span{
    background: #3c086a !important;
}

#social-media-container ul li:nth-child(4):hover span{
    background: #CC296C !important;
}

#social-media-container ul li:nth-child(5):hover span{
    background: #e27602 !important;
}

.social-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.social-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.social-icon-border .social-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.social-icon-border-hover .social-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

.social-icon-border-hover .social-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
	color: #fff;
}
