@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

.animation_text {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.animation_text h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}

.animation_text h1 span {
    color: orange;
}

@media(max-width:1000px) {
    .animation_text h1 {
        font-size: 30px;
    }
}